<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.formwork.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.system.formwork.entity.pojo.User">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="TINYINT"/>
    </resultMap>
    <insert id="insertUser">
        insert into user (id, name, password, role)
        values (#{id}, #{name}, #{password}, #{role});
    </insert>

    <select id="selectById" resultType="com.system.formwork.entity.pojo.User">
        select * from user where id = ${id};
    </select>

</mapper>
